body {
    color: #7F7F7F;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 0% 0%;
}

.navbar-brand {
	font-family: 'Lobster', cursive;
	color: #c90606 !important;
	font-size: 40px !important;
}

.navbar-nav {
	margin-left: auto;
}

.navbar {
  border-bottom: solid 1px #e1e1e1;
}

.collapse ul li a{
   color: #7F7F7F !important;
    font-size: 15px !important;
    font-family: 'Roboto', sans-serif !important;
    margin-right: 15px;
}

.container-fluid {
 	color: #7F7F7F !important;
    font-size: 15px !important;
    font-family: 'Roboto', sans-serif !important;
}

.navbar > .container-fluid .navbar-brand {
    margin-left: 30px;
  }

#login {
	display: inline-block;
	vertical-align: middle;
  	padding: 190px;
}

#register {
	display: inline-block;
	vertical-align: middle;
}

#signIn {
  	color: white;
	background: #c90606;
	border: none;
	width: 408px;
    height: 30px;
  	border-radius: 1px;
}

#registerAccount {
  	color: white;
	background: #c90606;
	border: none;
	width: 408px;
    height: 30px;
  	border-radius: 1px;
}

#customBtn {
  	color: white;
	background: #33adff;
	border: none;
	width: 408px;
    height: 30px;
  	border-radius: 1px;
}

#registerAccount:hover {
  cursor: pointer;
}

#signIn:hover {
  cursor: pointer;
}

#customBtn:hover {
  cursor: pointer;
}

#error {
  width:100%; 
  text-align: center;
  padding: 35px 0;
  background-color: #ffcccb;
  color: gray;
  font-size: 15px;
  top: 3;
  left:0;
  font-family: 'Roboto', sans-serif;
}